[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# task management
invoke = "*"
# test
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
hypothesis = "*"
coverage = {extras = ["toml"],version = "*"}
# style
black = "==19.10b0"
isort = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
# security
bandit = "*"
# git
commitizen = "*"
pre-commit = "*"
# document
mkdocs = "*"
mkdocs-material = "*"

[packages]
pandas = "==0.25.1"
seaborn = "==0.9.0"
numpy = "==1.17.2"
matplotlib = "==3.1.1"
click = "==7.0"
Pillow = "==8.0.0"
Jinja2 = "==2.10.3"
PyYAML = "==5.3.1"

[requires]
python_version = "3.7"
